<script type="text/javascript">
	function f() {
		var w = document.getElementById("what");
		w.innerText = "Yandex";
		var f = dociment.getElementById("form");
		f.action = "https://yandex.ru/search";
		var t = document.getElementById("txt");
		t.name = "text";
	}

	function g() {
		var w = document.getElementById("what");
		w.innerText = "Mail";
		var f = dociment.getElementById("form");
		f.action = "https://go.mail.ru/search";
		var t = document.getElementById("txt");
		t.name = "q";
	}


</script>
<button onclick="f()">Yandex</button>
<button onclick="g()">Mail</button>

<form action="https://yandex.ru/search/" method="get" id="form">
	<span id="search">Yandex:</span>
	<input type="text" name="text" id="txt"></input>
	<p><input type="submit"></p>
</form>